{% extends 'tmmoscow/base.html' %}

{% block content %}
  <h2>Регистрация в Tmmoscow</h2>
  <form method="post">
    {% csrf_token %}
      <p>
        <label for="id_first_name">Имя</label><br>
        <input type="text" name="first_name" required="" id="id_first_name" maxlength="50">
      </p>
      <p>
        <label for="id_last_name">Фамилия</label><br>
        <input type="text" name="last_name" id="id_last_name" maxlength="50">
      </p>
      <p>
        <label for="id_email">Email:</label><br>
        <input type="email" name="email" required="" id="id_email" maxlength="254">
      </p>
      <p>
        <label for="id_password1">Пароль</label><br>
        <input type="password" name="password1" required="" id="id_password1">
      </p>
      <p>
        <label for="id_password2">Подтверждение пароля</label><br>
        <input type="password" name="password2" required="" id="id_password2">
        <small style="color: grey">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
      </p>
      <p>
        <select name="qual" required="" id="id_qual">
            {% for opt in form.fields.qual.queryset %}
                <option value="{{ opt }}" {% if not forloop %}selected="selected"{% endif %}>{{ opt }}</option>
            {% endfor %}
        </select>
        <small style="color: grey">Квалификация</small>
      </p>
      <p>
        <label for="id_birth">Год рождения</label><br>
        <input type="number" name="birth" required="" id="id_birth">
      </p>
    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}