<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Очистка данных</title>
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
<p>
    Данные успешно очищены
</p>
<p>
    Добавление стандартных аккаунтов:
    <a class="waves-effect waves-light btn" href="{{ url('test-db') }}">Добавить</a>
</p>
<p>
    Страница с соревнованиями:
    <a class="waves-effect waves-light btn" href="{{ url('comps') }}">Click me!</a>
</p>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
</body>
</html>