{% extends 'tmmoscow/base.html' %}

{% block breadcrumbs %}
    <a class="breadcrumb" href="{% url 'competition' comp.pk %}">Соревнование</a>
    <a class="breadcrumb" href="{% url 'competition-add-to' comp.pk %}">Добавление к соревнованию</a>
{% endblock %}

{% block content %}
    <p>Добавление участников к {{ comp }}</p>

    {% if user.team and user.team.get_members|length %}
        <p>Выберите участников, которые будут участвовать в соревновании:</p>
        <ul>
        {% for mem in user.team.get_members %}
            <li><p>{{ mem }}</p>
                {% for day in comp.days %}
                    <input type="checkbox" value="{{ day.date }}">
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>К сожалению, ваша команда не имеет участников. Обратитесь к администратору, для добавления вашей команды и участников.</p>
    {% endif %}
{% endblock %}
