/* THIS SHOULD BE DELETED ON MAIN SITE */
.moduleblock-cup, .moduleblock-old, .moduleblock-vk{
    background: #ffffff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}


/* THIS IS NEW CUSTOM STYLES */
