<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORIENT LAYOUTS</title>

    <link rel="stylesheet" href="static/css/layout/layout.css">    <!-- <- This is custom ccs by Daria -->
    <link rel="stylesheet" href="static/css/layout/style.css">
    <link rel="stylesheet" href="static/css/layout/libraries/gantry/grid-responsive.css">
    <link rel="stylesheet" href="static/css/layout/plugins/rokbox.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/community-a.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/community-a-extensions.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/demo-styles.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/fusionmenu.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/gantry-core.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/joomla-core.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/orient.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/responsive.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/template.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/template-webkit.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/typography.css">
    <link rel="stylesheet" href="static/css/layout/rt_fresco_responsive/utilities.css">




    <script src="static/js/jquery.min.js"></script>

</head>
<body>
    <h1>LOLOLO</h1>
</body>
</html>