<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test html</title>
</head>
<body>
This is test page of Tmmosc<br>
На данный момент существуют следующие аккаунты:<br><br>
Membs:
<ul>
    {% for memb in membs %}
    <li>{{ memb.nickname }}</li>
    {% endfor %}
</ul>
Leads:
<ul>
    {% for lead in leads %}
    <li>{{ lead.contact }}</li>
    {% endfor %}
</ul>
Orgs:
<ul>
    {% for org in orgs %}
    <li>{{ org.contact }}</li>
    {% endfor %}
</ul>
 {{test}}
</body>
</html>