{% extends 'tmmscw/organizer/CompetitionList.html' %}
{% block title %}Список участников{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="/js/omList.js"></script>
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="card hoverable">
                <div class="card-panel light-blue white-text">
                    <span class="card-title">Список участников</span>
                </div>
                <div class="card-image light-blue white-text">
                    {# TODO найти нормальное решение: заменить card-image на стили #}
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light
                        green lighten-2 hoverable tooltipped modal-trigger"
                       data-position="bottom"
                       data-delay="50" data-tooltip="Добавить участника"
                       id="addMember"
                       href="#modalAddMem"
                       style="bottom: -14px"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <table class="striped centered light-blue-text responsive-table">
                        {# TODO нормально доделать для мобильных телефонов #}
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Год рождения</th>
                            <th>Разряд</th>
                            <th>Команда</th>
                            <th>Территория</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for memb in members %}
                            <tr>
                                <td>{{ memb.surname }}</td>
                                <td>{{ memb.birthdate }}</td>
                                <td>{{ memb.qualification }}</td>
                                <td>{{ memb.command.name }}</td>
                                <td>{{ memb.command.territory }}</td>
                                <td>
                                    <form action="{{ url('list-membs-delete') }}" method="post" id="deleteMem">
                                        <button class="btn-floating light-blue modal-trigger changeMem"
                                                type="button" href="#modalAddMem">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button class="btn-floating light-blue" type="submit"
                                                onclick="event.stopPropagation();">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <input type="hidden" value="{{ memb.surname }}" name="memberFio">
                                        <input type="hidden" value="{{ keys[loop.index0] }}" name="idToDeleteChange">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Modal addMem ctructure #}
    <div id="modalAddMem" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id="hModal">Добавить участника</h4>
            <form action="{{ url('list-membs-add') }}" method="post" id="formNewMem" name="formNewMem">
                <input type="hidden" id="omKey" name="omKey">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" type="text" id="omFio" name="omFio">
                        <label for="omFio">ФИО участника</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" type="text" id="omGr" name="omGr">
                        <label for="omGr">Год рождения</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select id="omRazr" name="omRazr" class="validate">
                            {% for qual in quals %}
                                <option value="{{ qual }}">{{ qual }}</option>
                            {% endfor %}
                        </select>
                        <label for="omRazr">Разряд/Звание</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select id="omComand" name="omComand" class="validate">
                            {% for com in commands %}
                                <option value="{{ com.key() }}">{{ com.name }} ({{ com.territory }})</option>
                            {% endfor %}
                        </select>
                        <label for="omComand">Команда</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" id="addMemSubmit">Добавить</button>
        </div>
    </div>

{% endblock %}