{% extends 'tmmscw/organizer/CompetitionList.html' %}
{% block title %}Список организаторов{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="/static/js/omlList.js"></script>
{#    <script>#}
{#        function fadeMe() {#}
{#            $("#sovDiv").fadeOut();#}
{#        }#}
{#    </script>#}
    <script>
    $('#addOrgan').on("click", function () {
        $('#modal1').modal('open');
    })
    </script>
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="card hoverable">
                <div class="card-panel light-blue white-text">
                    <span class="card-title">Список организаторов</span>
                </div>
                <div class="card-image light-blue white-text">
                    {# TODO найти нормальное решение: заменить card-image на стили #}
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light
                    green lighten-2 hoverable tooltipped modal-trigger" data-target="modal1" {# Modal trigger #}
                            data-position="bottom"
                            data-delay="50" data-tooltip="Добавить руководителя"
                            id="addOrgan"
                       href="#modal1"
{#                            type="button"#}
                            style="bottom: -14px"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
{#                    <form action="{{ url('list-orgs-add') }}" method="post" id="formNewOrg" name="formNewOrg">#}
{##}
{#                        <span>Добавить нового организатора</span>#}
{#                    </form>#}
                    <table class="striped centered light-blue-text responsive-table">
                    {# TODO нормально доделать для мобильных телефонов #}
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Контакт</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for org in organizers %}
                            <tr>
                                <td>{{ org.nickname }}</td>
                                <td>{{ org.contact }}</td>
                                <td>
                                    <form action="{{ url('list-orgs-delete') }}" method="post" id="deleteOrg">
                                        <button class="btn-floating light-blue" type="button">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button class="btn-floating light-blue" type="submit"
                                                onclick="event.stopPropagation();">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <input type="hidden" value="{{ org.nickname }}" name="organFio">
                                        <input type="hidden" value="{{ keys[loop.index0] }}" name="idToDeleteChange">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Modal ctructure #}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    {#    <div class="" onclick="fadeMe();" onload="$(this).fadeIn(100); $('#sovDiv').trigger('click');">#}
{#        <p id="sovText">{{ tool }}</p>#}
{#    </div>#}
{% endblock %}