{% extends 'tmmscw/member/CompetitionList.html' %}
{% block title %}Участник {{ member.surname }}{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="/static/js/mmList.js"></script>
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="card hoverable">
                <div class="card-panel light-blue white-text">
                    <span class="card-title">Редактрирование данных</span>
                </div>
                <div class="card-image light-blue white-text">
                    {# TODO найти нормальное решение: заменить card-image на стили #}
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light
                        green lighten-2 hoverable tooltipped"
                       data-position="bottom"
                       type="button"
                       data-delay="50" data-tooltip="Проверитиь код и сохранить данные"
                       id="submitEditMem"
                       style="bottom: -14px"><i class="material-icons">save</i></a>
                </div>
                <div class="card-content">
                    <form action="{{ url('self-edit') }}" id="formSaveEditMember" name="formSaveEditMember" method="post">
                        <div class="row">
                            <div class="col s12 m6 input-field">
                                <input required type="text" class="validate valid" id="surnameMemb" name="surnameMemb">
                                <label for="surnameMemb">Фамилия и Имя</label>
                                <input type="hidden" id="curSurname" value="{{ member.surname }}">
                            </div>
                            <div class="col s12 m6 input-field">
                                <input required type="text" pattern="[0-9]{4}" class="validate valid" id="birthdayMemb"
                                       name="birthdayMemb">
                                <label for="birthdayMemb" data-error="Введите год рождения">Год рождения</label>
                                <input type="hidden" id="curBirthday" value="{{ member.birthdate }}">
                            </div>
                            <div class="col s12 m6 input-field">
                                <select id="qualMemb" name="qualMemb">
                                    {% for qual in quals %}
                                        <option value="{{ qual }}">{{ qual }}</option>
                                    {% endfor %}
                                </select>
                                <label for="qualMemb">Разряд</label>
                                <input type="hidden" id="curQual" value="{{ member.qualification }}">
                            </div>
                            <div class="col s12 m6">
                                <p><b><sup>*</sup>Команда: </b>{{ member.command.name }}</p>
                            </div>
                            <div class="col s12 m6">
                                <p><b><sup>*</sup>Территория: </b>{{ member.command.territory }}</p>
                            </div>
                            <div class="col s12 m8 offset-m2">
                                <span><sup>**</sup>Пароль подтверждения изменений: </span>
                                <div class="input-field inline">
{#                                    TODO изменить паттерн в продакшене на [0-9A-Za-z]{6}#}
                                    <input pattern="[0-9A-Za-z]{6,}" class="validate" required type="password"
                                           id="toChangePass"
                                           name="toChangePass">
                                    <label for="toChangePass"></label>
                                    <input type="hidden" value="{{ url('check-pass') }}" id="inpt-url-toChangePass">
                                </div>
                                <div class="preloader-wrapper small" id="preloader">
                                    <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 offset-m3">
                                <p class="center-align"><sup>*</sup> Для изменения команды и территории обратитесь к
                                    вашему руководителю</p>
                                <p class="center-align"><sup>**</sup> Для получения пароля обратитесь к вашему
                                    руководителю</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}