{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block extra_meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% comment %}
    <meta property="og:image" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    {% endcomment %}

    <title>{% block title %}Tmmoscow соревнования{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>

{% include 'tmmoscow/parts/header.html' %}
{% include 'tmmoscow/parts/sidebar.html' %}


<nav class="light-blue lighten-2">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a class="breadcrumb" href="{% url 'index' %}">Tmmoscow</a>
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
</nav>

<main class="container">{% block content %}{% endblock %}</main>

{% include 'tmmoscow/parts/footer.html' %}

<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>