{% extends 'tmmoscow/base.html' %}

{% block content %}

    <h3>Выбор ролей</h3>
    <p>Вы можете выбрать несколько ролей в системе. Они будут утверждены администратором сайта, после чего вы сможете использовать функционал, доступный каджой роли.</p>
    <ul>
        <li>
            <input type="checkbox" name="is_leader" id="checkbox-lead" {% if user.is_leader %}checked{% endif %} readonly><label for="checkbox-lead">Руководитель команды</label>
            <p>Руководитель может создавать команду, регистрировать новых участников в системе и добавлять их в свою команду, принимать заявки от других участников на добавление в команду.</p>
            <p>По умолчанию для каждого пользователя создается <a href="{% url 'my-team' user.pk %}">его команда</a>. Если у вас фактически нет команды и вы выступаете лично, то вы можете использовать ее для заявки. Название и территория для протоколов будут взяты из вашей команды.</p>
            <p>Если вы состоите в чьей-то команде, то вас может заявить ее представитель. При этом для протоколов будут использованы данные той команды, а не вашей.</p>
        </li>
        <li>
            <input type="checkbox" name="is_org" id="checkbox-org" {% if user.is_org %}checked{% endif %}><label for="checkbox-org">Организатор соревнований</label>
            <p>Организатор может создавать соревнования, редактировать их, просматривать и редактировать данные о заявках участников на старты.</p>
        </li>
    </ul>

{% endblock %}