{% extends 'tmmoscow/base.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
    <a class="breadcrumb" href="{% url 'profile' %}">Личный кабинет</a>
    <a class="breadcrumb" href="{% url 'select-team' user.pk %}">Выбор команды</a>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}

{% block content %}

    <p>В этом разделе вы можете выбрать команду, в которой будете являться участником. Представителю будет отправлено сообщение, и он должен будет подтвердить ваше участие в его команде. </p>
    <p>Вы можете выбрать несколько команд, тогда каждый из представителей сможет заявлять вас на соревнования от своей команды.</p>
    <p>Также по умолчанию для вас создана <a href="{% url 'my-team' user.get_my_team.pk %}">ваша собственная команда</a>, это сделано для того, чтобы вы могли заявляться самостоятельно, без участия других представителей (в этом случае для протоколов будут использованы название и территория вашей команды)</p>

    <form method="post" id="js-toteam-form" action="{% url 'to-team' %}">
        {% csrf_token %}
        <input type="hidden" name="team">
        <input type="hidden" name="member" value="{{user.pk}}">
        <input type="hidden" id="checkTeamUrl" value="{% url 'check-team' %}">
        <div class="input-field">
            <label for="title">Название</label>
            <input type="text" name="title" id="title" class="js-toteam"/>
        </div>
        <div class="input-field">
            <label for="location">Территория</label>
            <input type="text" name="location" id="location" class="js-toteam"/>
        </div>
        <div class="to-team-message">
            <p class="error hidden">Увы, такой команды нет в базе. Может, вы ошиблись в названии или территории?</p>
            <p class="info hidden"></p>
        </div>
        <button class="btn to-team-btn" type="submit" disabled>Подать заявку</button>
    </form>

    <p>Список команд, в которых вы состоите</p>
    <table>
        <thead>
          <tr>
            <th>№</th>
            <th>Команда</th>
            <th>Территория</th>
            <th>Руководитель</th>
            <th>Принят в команду</th>
            <th>Подал заявку</th>
          </tr>
        </thead>
        <tbody>
          {% for tm in user.get_teams %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ tm.title }}</th>
                <th>{{ tm.location }}</th>
                <th>{% for lead in tm.get_leaders %}{{ lead.name }}{% if not forloop.last %},{% endif %}{% endfor %}</th>
                <th>{% if user in tm.get_members or user in tm.get_leaders %}Да{% else %}Нет{% endif %}</th>
                <th>{% if user in tm.get_users_requests %}Да{% else %}Заявка принята{% endif %}</th>
            </tr>
          {% endfor %}
        </tbody>
    </table>


{% endblock %}