{% extends 'tmmoscow/base.html' %}

{% block content %}

    <h3>Выбор команды</h3>
    <p>В этом разделе вы можете выбрать команду, в которой будете являться участником. Представителю будет отправлено сообщение, и он должен будет подтвердить ваше участие в его команде. </p>
    <p>Вы можете выбрать несколько команд, тогда каждый из представителей сможет заявлять вас на соревнования от своей команды.</p>
    <p>Также по умолчанию для вас создала <a href="{% url 'my-team' user.pk %}">ваша собственная команда</a>, это сделано для того, чтобы вы могли заявляться самостоятельно, без участия других представителей (в этом случае для протоколов будут использованы название и территория вашей команды)</p>

    <h4>TODO - выбор и отправка заявки в другие команды</h4>

{% endblock %}