{% extends 'tmmoscow/base.html' %}

{% block content %}

    <h3>Ваша команда</h3>
    <p>По умолчанию для каждого участника создается его команда, чтобы каждый мог заявляться от себя, лично, без участия в каком-либо клубе.</p>
    <p>Участник может одновременно состоять в нескольких командах. Вы можете <a href="{% url 'select-team' user.pk %}">подать заявку на добавление в другие команды</a>. При этом каждый из руководителей этих команд сможет заявлять вас на соревнования.</p>

    <h4>TODO - редактирование данных личной команды</h4>

{% endblock %}