<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    {% block styles %}

    {% endblock %}
</head>
<body>
{% block side_bar %}
    <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ login }}">Вход</a></li>
    </ul>
{% endblock %}

<header>
    <nav class="light-blue navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            {% block header %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ login }}">Вход</a></li>
                </ul>
                <ul>
                    <li class="brand-logo"><a href="#logo">LOGO</a></li>
                    {# TODO Добавить логотип #}
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            {% endblock %}
        </div>
    </nav>
</header>
<div class="" style="margin-top: 3%;"></div>
<main class="container">
    {% block main_content %}            {# Default content is competition list #}
        <div class="row">
            {% for comp in comps %}
                <div class="col s12 m6 l6 xl6">
                    <div class="card hoverable">
                        <div class="card-title light-blue">
                            <div class="container">
                                {{ d_start[loop.index0] }} - {{ d_finish[loop.index0] }}<br>
                                {{ comp.name }}
                            </div>
                        </div>
                        <div class="card-content light-blue lighten-3">
                            {% if is_open_pz[loop.index0] %}
                                <img src="/static/img/good.png" class="right">
                                Предварительная заявка открыта
                            {% else %}
                                <img src="/static/img/bad.png" class="right">
                                Предварительная заявка закрыта
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col s12 m8 l8 xl8 offset-m2 offset-l2 offset-xl2">
                    <div class="card-panel hoverable black-text">
                        <p class="flow-text">В настоящий момент нет соревнований для заявки.
                            Зайдите через некоторое время...</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</main>

{% block addition %}

{% endblock %}

<script src="/static/js/jquery.min.js"></script>
{% block scripts %}

{% endblock %}
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>